<div class="d-flex flex-column align-items-center my-2">Login</div>
<form class="form d-grid gap-2">
  <div class="form-group">
    <input class="form-control" placeholder="Nome do usuário" />
  </div>
  <div class="form-group">
    <input class="form-control" type="password" placeholder="Nome do usuário" />
  </div>
  <div class="d-flex justify-content-between">
    <button class="btn btn-secondary">Registrar</button>
    <button class="btn btn-primary" type="submit">Login</button>
  </div>
</form>
